@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  transition-duration: 0.1s;
  animation-duration: 0.1s;
  font-family: var(--font-dana);
}
body {
  direction: rtl;
}
.Toastify__toast-container {
  text-align: right;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
  border-radius: 8px;
}
@media (min-width: 512px) {
  .Toastify__toast-container {
    width: 100%;
    max-width: 70vw;
  }
}
